doctype html
html
  head
    title Home Page
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
    footer
      p &copy; #{new Date().getFullYear()} Ada. National College for Digital Skills. All rights reserved.
