extends layouts/layout

block content
  h1(style='font-size: 2em') Chuck Norris Joke
  p(style='font-size: 1.5em') #{joke}

  // Back button
  a(href='/' style='text-decoration: none; margin-top: 20px; display: inline-block; padding: 10px 15px; background-color: #3498db; color: white; border-radius: 5px;') Back to Home


