extends layouts/layout

block content
  h1 List of Names
  table
    thead
      tr
        th Name
        th Action
    tbody
      each item in items
        tr
          td #{item.name}
          td
            a(href='/delete-name/' + item._id class='btn btn-danger') Delete
